
<div class="log-in">
  <div class="container login-con">
    
    <div class="form-title-login text-center">
        <h2 class="login-title-1">デュエルリンクス(管理人) </h2>
        <h2 class="login-title-2">Make Decker</h2>
    </div>
    
    <div class="form-body-login">
       <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-group">
              
              <div class="login-field">
                <span>メールアドレス</span>
                <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"メールアドレス" %>
              </div>

              <div class="login-field">
                <span>パスワード</span>
                <% if @minimum_password_length %>
                  <em>(最低 <%= @minimum_password_length %>文字)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password" %>
              </div>

              <div class="login-field">
                <span>パスワードを再確認</span><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </div>

              <div class="login-field">
                <%= f.submit "Sign up",class:"btn-lg btn-success" %>
              </div>
              
            </div>
        <% end %>
          
        <div class="login-field">
          <%= render "admins/shared/links" %>
        </div>
    </div>
  </div>
</div>