<div class="container-fluid edit-mypage">
  
  <div class="mypage-up">
    <div class="row">
       <h1 class="col-4 offset-2">マイページ</h1><div class="col-6"></div>
    <div class="col-4 offset-2">
  <% if @user.image.attached? %>
      <%= image_tag @user.image.variant(resize:'100x100').processed %>
  <% end %>

    <div class = "form-group">
    <%= form_with model: @profile_image, url:edit_profile_image_user_path(current_user.id),method: :patch,local: true do |f| %>
    <div class = "form-group">
      <h3>画像をアップロード</h3>
      <%= f.file_field :image %></br>
      <%= f.submit "確定" %>
    </div>
    <% end %>

    <h3><%= @user.user_name %></h3>
    </div>
    </div>
    
  <div class="col-6">
  <div class = "profile form-group">
  <h3>プロフィール</h3>
    <%= @user.introduction %></br>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        プロフィールの編集
    </button>
  </div>
  </div>

      <!-- モーダルの設定 -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">プロフィール編集</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <%= form_with model: @new_profile, url:edit_introduction_user_path(current_user.id),method: :patch,local: true do |f| %>
                <div class="modal-body">
                   <%= f.text_area :introduction, class: "form-control",size: "10x10" %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                  <%= f.submit "変更を保存", class: "btn btn-primary" %>
                </div>
                <% end %>
          </div>
        </div>
       </div>
  </div>
</div>

  <div class = "form-group">
    <div class="row">
      <h3 class="col-4 offset-2">投稿レシピ一覧</h3>
      <% @decks.each do |f| %>
        <table class="mypage-decks col-7 offset-2" border="1">
        <tbody>
          <tr>
            <td class="deck_image" rowspan="4">
              <% if f.image.attached? %>
                <%= image_tag f.image.variant(resize:'200x200').processed %>
              <% end %>
            </td>
          
            <th class="table2"> デッキ名</th>
            <td class="table3" colspan="2">
              <small>
                <%= link_to f.deck_name, deck_path(f.id) %>
              </small>
            </td>
          </tr>
          
          <tr>
            <th class="table2">デッキテーマ</th>
              <td class="table3" colspan="2">
                <%= f.deck_theme.deck_theme %>
              </td>
          </tr>
          
          <tr>
            <th class="table2">リンクステーマ</th>
              <td class="table3" colspan="2">
                <%= f.link_theme.link_theme %>
              </td>
          </tr>
      
          <tr>
            <th class="table2">コメント</th>
            <td class="table3" colspan="2"><%=f.deck_detail %></td>
          </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
      
</div>











