<div class="container inquiry-container" >
  <div class="row inquiry-row">
      <table class="table inquiry-table">
        <thead>
              <tr>
                    <th>ユーザーネーム</th>
                    <th>日付</th>
                    <th>問合せ内容</th>
                    <th>ステータス</th>
                    <th>削除</th>
              </tr>
        </thead>
            <h1><u>問合せ一覧</u></h1><br>
              <% @inquiries.each do |inquiry| %>
              <tr>
                <% user = @users.find(inquiry.user_id) %>
                    <th><%= link_to user.user_name,admin_inquiry_path(inquiry.id) %> </th>
                    <th><%= inquiry.created_at.strftime('%Y/%m/%d') %> </th>
                    <th><%= inquiry.inquiry.truncate(20) %></th>
                    <% if inquiry.look_status %>
                      <th><span class="label label-success">既読</span></th>
                    <% else %>
                      <th><span class="label label-danger">未読</span></th>
                    <% end %>
                    <th><%= link_to "削除",admin_inquiry_path(inquiry.id),method: :delete,data: {confirm: '本当によろしいですか？'},class:"btn btn-danger" %></th>
             </tr>
              <% end %>
             <%= paginate @inquiries, class: "paginate" %>
      </table>
  </div>
</div>
