<div class="container-fluid whole-index">
  <div class="row top-view">
    <%= image_tag('MakeDecker6.jpg', class:"make-decker col-10 offset-1") %>
    <div class="deck_index col-10 offset-1" >
      <%= render 'decks/head', deck_themes: @deck_themes,link_themes: @link_themes %>
      
      <div class="deck_table">
        <% i=1 %>
      <% @deck_favs.each do |f| %>
        <h3 class="deck-name col-10 offset-1"><%= i %>位   <%= link_to f.deck_name ,deck_path(f.id),class:"link-color" %><span id="good">⭐️<%= f.favorite_num %></span></h3>
          <table class="deck_main col-10 offset-1" border="1">
            <tbody>
              <tr>
                <td class="deck_image" rowspan="4">
                  <% if f.image.attached? %>
                    <%= image_tag f.image.variant(resize:'400x400').processed %>
                  <% end %>
                </td>
                
              <th class="table2">デッキテーマ</th>
                <td class="table3" colspan="2">
                  <%= f.deck_theme.deck_theme %>
                </td>
              </tr>
              
              <tr>
               <th class="table2">リンクステーマ</th>
                <td class="table3" colspan="2">
                  <%= f.link_theme.link_theme %>
                </td>
              </tr>
              
              <tr>
              <th class="table2"> 投稿者</th>
                <td class="table3" colspan="2">
                  <small>
                    <%= f.user.user_name %>
                  </small>
                </td>
              </tr>
              
              <tr>
                <th class="table2">投稿日</th>
                  <td class="table3" colspan="2"><%=f.created_at %></td>
              </tr>
              <tr>
                <td id="comment" class="table3" colspan="3">
                  <strong>コメント</strong></br>
                  <small><%= f.deck_detail %></small>
                </td>
              </tr>
            </tbody>
          </table>
         <% i+=1 %>
        <% end %>
        </div>

      
      
    </div>
  </div>
</div>