
  <div class="container-fluid deck-show">
    <div class="row">
      <div class="deck-show-box">
        <%= image_tag('blue0002.png', class:"blue-name") %>  <h3>PV数  <%= @deck.impressionist_count %></h3>
          <div class="name-like-good clearfix">
            <h2 class="deck-name-show"><%= @deck.deck_name %></h2>
              <div class="like-good clearfix">
              <div class="like-show">
              <% if current_user.likedeck?(@deck) %>
                <%= form_for(current_user.like_decks.find_by(deck_id: @deck.id),url: like_deck_path(@deck.id),method: :delete) do |f| %>
                <%= f.submit "お気に入り解除", class: 'btn-lg btn-danger' %>
              <% end %>
              <% else %>
                <%= form_for(current_user.like_decks.build,url: like_decks_path,method: :post )do |f| %>
                  <%= hidden_field_tag :deck_id, @deck.id %>
                <%= f.submit 'お気に入り登録', class: 'btn-lg btn-primary' %>
              <% end %>
              <% end %>
            </div>
            <div class="good-show">
              <%= render partial: 'favorites/like', locals: {deck: @deck} %>
            </div>
            </div>
          </div>
       
        
   
        <div class="deck-detail-table">
          <table class="deck_detail_main" border="1">
            <tbody>
              <tr>
                <td class="deck-detail-image" rowspan="5">
                  <% if @deck.image.attached? %>
                    <%= image_tag @deck.image.variant(resize:'500x500').processed %>
                  <% end %>
                </td>
                
                <th>投稿者名</th>
                  <td class="table3" colspan="2">
                   <%= @deck.user.user_name %>
                  </td>
              </tr>
              
              <tr>
                <th>デッキテーマ</th>
                  <td class="table3" colspan="2">
                   <%= @deck.deck_theme.deck_theme %>
                  </td>
              </tr>
              
              <tr>
                <th>リンクステーマ</th>
                  <td class="table3" colspan="2">
                    <%= @deck.link_theme.link_theme %>
                  </td>
              </tr>
              
              <tr>
                <th>投稿日</th>
                  <td class="table3" colspan="2">
                    <%= @deck.created_at %>
                  </td>
              </tr>
              
              <tr>
                <th>URL</th>
                  <td class="table3" colspan="2">
                    URL
                  </td>
              </tr>
              <tr>
                <td id="comment" class="table3" colspan="3">
                  <strong>デッキの解説</strong></br>
                  <small><%= @deck.deck_detail %></small>
                </td>
              </tr> 
            </tbody>          
          </table>
        </div>

      

      <h3>コメント</h3>
        <% if user_signed_in? %>
          <%= form_for [@deck,@comment] do |f| %>    
    
                 <%= f.text_area :comment, row:'2', class: "form-controll",placeholder:"コメントをここに" %>
         
          <%= f.submit "送信する", class: "btn btn-default mt-20 pull-right" %>
          <% end %>
        <% end %>

          <div class="review-list bt style-2" id="reviews">
            <div class="float-wrapper">
              <h4 class="review-count"><%= @deck.comments.count %></h4>
            </div>
          </div>
    
            <table class="table table-borderd">
              <thread>
                <tr>
                  <th class="col-xs-2">日時</th>
                  <th class="col-xs-2">ユーザー</th>
                  <th class="col-xs-7">レビュー</th>
                  <th class="col-xs-1"></th>
                </tr>
              </thread>
              <% @deck.comments.each do |comment| %>
              <tbody>
                <tr>
                  <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
                  <td><%= comment.user.user_name %></td>
                  <td><%= comment.comment %></td>
                  <% if comment.user_id == current_user.id %>
                  <td><%= link_to "削除", deck_comment_path(comment.deck.id,comment.id),class: "btn btn-danger btn-sm", method: :delete, "data-comfirm" => "このレビューを削除しますか？" %></td>
                  <% end %>
                </tr>
              </tbody>
              <% end %>
</table>
</div>
</div>
  </div>