<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/04fdb0501d.js" crossorigin="anonymous"></script>
    <title>MakeDecker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="sp-menu">
      <h2>MENU</h2>
      <ul>
        <% if user_signed_in? %>
        <li><a href="#"><%= link_to "マイページ",edit_user_path(current_user.id) %></a></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, notice: "ログアウトしました。" %></a></li>
        <li><a href="#"><%= link_to "デッキ投稿",new_deck_path %></a></li>
        <li><a><%= link_to "フォローしてるデュエリスト", relationships_path %></a></li>
        <% else %>
        <li><a href="#"><%= link_to "ログイン", new_user_session_path %></a></li>
        <li><a href="#"><%= link_to "新規登録", new_user_registration_path %></a></li>
        <% end %>
        <li><a href="#"><%= link_to "TOP",root_path %></a></li>
        <li><a href="#"><%= link_to "人気デュエリスト",users_path %></a></li>
       <% if admin_signed_in? %>
        <li class="nav-item">
          <li><a><%= link_to "管理者としてログインしています", edit_admin_registration_path %></a></li>
          <li><a><%= link_to "デッキテーマを追加", add_deck_theme_path %></a></li>
          <li><a><%= link_to "リンクステーマを追加", add_link_theme_path %></a></li>
          <li><a><%= link_to "ユーザー一覧", admin_users_path %></a></li>
          <li><a><%= link_to "ログアウト", destroy_user_session_path, method: :delete, notice: "ログアウトしました。" %></a></li>
        </li>
       <% end %>
      </ul>
    </div>
    
    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    
     
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  

          
    <%= yield %>
<% if flash[:notice]%>
          <div class="flash">
                <%= flash[:notice]%> 
          </div>
<%end%>
  </body>
</html>
